[user]
    name = Baptiste Clavié
    email = clavie.b@gmail.com

[color]
    ui = true

[core]
    excludesfile = ~/.gitignore

[pager]
    show = delta
    diff = delta
    pager = delta

[interactive]
    diffFilter = delta --color-only

[delta]
    navigate = true
    line-numbers = true

[merge]
    conflictstyle = diff3

[diff]
    colorMoved = default

[push]
    default = simple

[color "status"]
    added     = green
    changed   = yellow
    untracked = red

[color "diff"]
    meta = cyan

[alias]
    oops = commit -a --amend --no-edit
    yolo = push --force-with-lease

    diff-word    = diff --word-diff
    log-graph    = log --graph --decorate --pretty=oneline --abbrev-commit
    log-decorate = log --oneline --decorate

[commit]
    template = ~/.git-templates/.git_commit_msg

[init]
    templatedir = ~/.git-templates

[diff]
    compactionHeuristic = true

[rebase]
    autosquash = true
    autostash = true

[tag]
    # Sort tags as version numbers whenever applicable, so 1.10.2 is AFTER 1.2.0.
    sort = version:refname

[versionsort]
    prereleaseSuffix = -pre
    prereleaseSuffix = .pre
    prereleaseSuffix = -beta
    prereleaseSuffix = .beta
    prereleaseSuffix = -rc
    prereleaseSuffix = .rc

[include]
    path = ~/.git_personnal_config

[pull]
    rebase = true
