[user]
    name = Baptiste Clavié
    email = clavie.b@gmail.com

[color]
    ui = true

[core]
    editor = vim
    excludesfile = ~/.gitignore

[pager]
    show = diff-highlight | less -r
    diff = diff-highlight | less -r

[push]
    default = simple

[color "status"]
    added     = green
    changed   = yellow
    untracked = red

[color "diff"]
    meta = cyan

[url "git@github.com:"]
    insteadOf     = "ghs:"
    pushInsteadOf = "ghs:"

[url "https://github.com/"]
    insteadOf = "gh:"

[url "git@gist.github.com:"]
    insteadOf     = "gists:"
    pushInsteadOf = "gists:"

[url "https://gist.github.com/"]
    insteadOf = "gist:"

[alias]
    st   = status
    co   = checkout
    oops = commit -a --amend -C HEAD
    push = push-wh

    diff-word    = diff --word-diff
    log-graph    = log --graph --decorate --pretty=oneline --abbrev-commit
    log-decorate = log --oneline --decorate

[commit]
    template = ~/.git_templates/.git_commit_msg

[init]
    templatedir = ~/.git_templates

[diff]
    compactionHeuristic = true

[rebase]
    autosquash = true
    autostash = true

[tag]
    # Sort tags as version numbers whenever applicable, so 1.10.2 is AFTER 1.2.0.
    sort = version:refname

[versionsort]
    prereleaseSuffix = -pre
    prereleaseSuffix = .pre
    prereleaseSuffix = -beta
    prereleaseSuffix = .beta
    prereleaseSuffix = -rc
    prereleaseSuffix = .rc

[include]
    path = ~/.git_personnal_config
