[user]
    name = Baptiste Clavié
    email = clavie.b@gmail.com
    signingkey = 3EF32F59

[color]
    ui = true

[core]
    editor = vim
    pager = diff-highlight | less -r
    excludesfile = /home/talus/.gitignore

[push]
    default = simple

[color "status"]
    added     = green
    changed   = yellow
    untracked = red

[color "diff"]
    meta = cyan

[url "git@github.com:"]
    insteadOf     = "ghs:"
    pushInsteadOf = "ghs:"

[url "git://github.com/"]
    insteadOf = "gh:"

[url "git@gist.github.com:"]
    insteadOf     = "gists:"
    pushInsteadOf = "gists:"

[url "git://gist.github.com/"]
    insteadOf = "gist:"

[alias]
    st   = status
    co   = checkout
    oops = commit -a --amend -C HEAD
    push = push-wh

    diff-word    = diff --word-diff
    log-graph    = log --graph --decorate --pretty=oneline --abbrev-commit
    log-decorate = log --oneline --decorate

[commit]
    template = /home/talus/.git_templates/.git_commit_msg
    gpgsign = true

[init]
    templatedir = ~/.git_templates
